// Modified
.modified{
	line-height: 24px;
	position: relative;
	display: inline-block;
	._solid{
		background: $bg-primary;
		color: #ffffff;
	}
}
.plus,
.minus,
.num{ 
	float: left;
	width: 27px;  
	height: 27px; 
	color: $color-primary;
	font-size: 14px;
	text-align: center;
	
}  
.plus,
.minus{
	cursor: pointer;
	border: 1px solid $color-primary;
}
.num{
	width: 5px; 
	border-top: 1px solid $color-primary;
	border-bottom: 1px solid $color-primary;
	input{
		width: inherit;
		height: inherit; 
		text-align: center;
		color: $color-primary;
		border: none;
		background: transparent;
	}
}  

