// 开关设置
//----------------------------------------------------- 
$lte7:                  true !default; //是否兼容ie6-7

// Color
$color-primary: #363636;
$color-secondary: #c9443e;
$color-bg: #f2f2f2;
$color-text: #454545;
$color-title: #363636;
$color-subtitle: #454545;
$color-content:#454545;
// Bg
$bg-primary: #363636;

