<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.damei.scm.repository.dictionary.DictionaryDao">
    <resultMap id="BaseResultMap" type="Dictionary">
        <id column="id" property="id"/>
        <result column="dic_name" property="dicName"/>
        <result column="dic_value" property="dicValue"/>
        <result column="sort" property="sort"/>
        <result column="parent_id" property="parentId"/>
        <result column="remarks" property="remarks"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="create_account" property="createAccount"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, dic_name, dic_value, sort, parent_id, remarks, status,create_time,create_account
  </sql>
    <select id="getById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from system_dictionary
        where id = #{id}
    </select>
    <delete id="deleteById">
    delete from system_dictionary
    where id = #{id}
  </delete>
    <delete id="deleteByParentId">
    delete from system_dictionary
    where parent_id = #{parentId}
  </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into system_dictionary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dicName != null">
                dic_name,
            </if>
            <if test="dicValue != null">
                dic_value,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createAccount != null">
                create_account,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dicName != null">
                #{dicName},
            </if>
            <if test="dicValue != null">
                #{dicValue},
            </if>
            <if test="sort != null">
                #{sort},
            </if>
            <if test="parentId != null">
                #{parentId},
            </if>
            <if test="remarks != null">
                #{remarks},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="createAccount != null">
                #{createAccount},
            </if>
        </trim>
    </insert>
    <update id="update">
        update system_dictionary
        <set>
            <if test="dicName != null">
                dic_name = #{dicName},
            </if>
            <if test="dicValue != null">
                dic_value = #{dicValue},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="remarks != null">
                remarks = #{remarks},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createTime != null">
                create_time=#{createTime},
            </if>
            <if test="createAccount != null">
                create_account=#{createAccount},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="searchTotal" parameterType="map" resultType="long">
        SELECT count(*)
        FROM system_dictionary
        <where>
            parent_id is NULL
            <include refid="searchWhere"/>
        </where>
    </select>
    <sql id="searchWhere">
        <if test="keyword!=null and keyword!=''">
            and dic_name =#{keyword}
        </if>
    </sql>
    <select id="search" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM system_dictionary
        <where>
            parent_id is NULL
            <include refid="searchWhere"/>
        </where>
        <if test="sort != null">
            ORDER BY
            <foreach collection="sort" item="order" separator=",">
                ${order.property} ${order.direction}
            </foreach>
        </if>
        limit #{offset},#{pageSize}
    </select>

    <select id="findByParentId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM system_dictionary
        WHERE parent_id=#{parentId}
    </select>
    <select id="findByParentValue" resultMap="BaseResultMap">
    SELECT sd.id, sd.dic_name, sd.dic_value, sd.sort, sd.parent_id, sd.remarks,
            sd.status,sd.create_time,sd.create_account
    FROM system_dictionary sdd
    LEFT JOIN  system_dictionary sd
    ON  sdd.id=sd.parent_id
    WHERE sdd.dic_value=#{dicValue}
  </select>


</mapper>