<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.damei.scm.repository.supply.SupplyDao">
    <resultMap id="BaseResultMap" type="Supply">
        <result column="sku_name" property="skuName"/>
        <result column="model" property="model"/>
        <result column="spec" property="spec"/>
        <result column="attribute1" property="attribute1"/>
        <result column="attribute2" property="attribute2"/>
        <result column="attribute3" property="attribute3"/>
        <result column="quantity" property="quantity"/>
        <result column="installation_location" property="installationLocation"/>
        <result column="notice_install_date" property="noticeInstallDate"/>
        <result column="actual_install_date" property="actualInstallDate"/>
        <result column="pay_status" property="payStatus"/>
        <result column="creator" property="creator.id"/>
        <result column="creator_name" property="creator.name"/>
        <result column="create_time" property="createTime"/>
        <result column="place_status" property="placeStatus"/>
        <result column="branch_no" property="branchNo"/>
    </resultMap>

    <select id="findSupplyInfoByContractNo" resultMap="BaseResultMap" parameterType="string">
        SELECT io.branch_no,usr.name as creator_name,io.create_time,io.place_status,ioi.sku_name,ioi.model,
        ioi.spec,ioi.attribute1,ioi.attribute2,ioi.attribute3,
        ioi.quantity,ioi.notice_install_date,ioi.installation_location,
        ioi.actual_install_date, ioi.pay_status
        FROM indent_order io
        LEFT JOIN indent_order_item ioi ON io.id = ioi.order_id
        left JOIN acct_user usr on io.creator = usr.id
        where io.contract_code = #{contractNo} AND io.status != 'INVALID'
    </select>
</mapper>