<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.damei.scm.repository.reviewSizeNotice.ReviewSizeNoticeDao">
    <resultMap id="BaseResultMap" type="ReviewSizeNotice">
        <id column="id" property="id"/>
        <result column="supplier_id" property="supplierId"/>
        <result column="contract_id" property="contractId"/>
        <result column="brand_id" property="brandId"/>
        <result column="order_id" property="orderId"/>
        <result column="remark" property="remark"/>
        <result column="creat_name" property="createName"/>
        <result column="creat_time" property="createTime"/>
        <result column="review_status" property="reviewStatus"/>
        <result column="img_url" property="reviewSizeNoticeImage"/>
        <result column="name" property="customerName"/>
        <result column="contract_code" property="contractCode"/>
        <result column="creator_name" property="creatorName"/>
        <result column="order_code" property="orderCode"/>
        <result column="prod_cataLog_id" property="prodCataLogId"/>
        <result column="notice_time" property="noticeTime"/>
        <result column="upload_url" property="uploadUrl"/>
    </resultMap>


    <select id="searchTotal" parameterType="map" resultType="long">
        SELECT count(*)
        FROM
        review_size_notice rsn
        LEFT JOIN customer_contract cucs ON rsn.contract_id = cucs.id
        LEFT JOIN customer cus ON cucs.customer_id = cus.id
        LEFT JOIN prod_supplier ps ON ps.id=rsn.supplier_id
        LEFT JOIN prod_brand pb ON pb.id=rsn.brand_id
        LEFT JOIN prod_catalog pc ON pc.id=rsn.prod_catalog_id
        <where>
            <if test="keyword != null">
                (cucs.contract_code like CONCAT('%', #{keyword}, '%')  or cus.name like CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="status!=null">
                AND rsn.review_status=#{status}
            </if>
            <if test="contractId != null">
                AND rsn.contract_id = #{contractId}
            </if>
            <if test="startDate != null">
                AND DATE(rsn.creat_time) >= #{startDate}
            </if>
            <if test="endDate != null">
                AND DATE(rsn.creat_time) &lt;= #{endDate}
            </if>
            <if test="brandId != null and brandId != ''">
                AND rsn.brand_id = #{brandId}
            </if>
            <if test="supplierId != null and supplierId != ''">
                AND rsn.supplier_id = #{supplierId}
            </if>
            <if test="name != null and name != ''">
                AND rsn.creat_name = #{name}
            </if>
        </where>
    </select>

   <select id="search" resultMap="BaseResultMap" parameterType="map">
       SELECT rsn.img_url,rsn.notice_time,rsn.upload_url,
           rsn.supplier_id,rsn.prod_catalog_id,rsn.brand_id,rsn.id,rsn.remark,rsn.review_status,
           cus. NAME,cucs.contract_code, rsn.creat_name,rsn.creat_time,rsn.contract_id,ps.name AS supplierName,
           pb.brand_name AS brandName,pc.`name` AS prodCataLogName
       FROM
       review_size_notice rsn
       LEFT JOIN customer_contract cucs ON rsn.contract_id = cucs.id
       LEFT JOIN customer cus ON cucs.customer_id = cus.id
       LEFT JOIN prod_supplier ps ON ps.id=rsn.supplier_id
       LEFT JOIN prod_brand pb ON pb.id=rsn.brand_id
       LEFT JOIN prod_catalog pc ON pc.id=rsn.prod_catalog_id
       <where>
           <if test="keyword != null">
               (cucs.contract_code like CONCAT('%', #{keyword}, '%')  or cus.name like CONCAT('%', #{keyword}, '%'))
           </if>
           <if test="status!=null">
               AND rsn.review_status=#{status}
           </if>
           <if test="contractId != null">
               AND rsn.contract_id = #{contractId}
           </if>
           <if test="startDate != null">
               AND DATE(rsn.creat_time) >= #{startDate}
           </if>
           <if test="endDate != null">
               AND DATE(rsn.creat_time) &lt;= #{endDate}
           </if>
           <if test="brandId != null and brandId != ''">
               AND rsn.brand_id = #{brandId}
           </if>
           <if test="supplierId != null and supplierId != ''">
               AND rsn.supplier_id = #{supplierId}
           </if>
           <if test="name != null and name != ''">
               AND rsn.creat_name = #{name}
           </if>
       </where>
       ORDER BY id DESC
       limit #{offset}, #{pageSize}
   </select>

    <insert id="insert" parameterType="ReviewSizeNotice" keyProperty="id">
        INSERT INTO review_size_notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="supplierId != null">
                supplier_id,
            </if>
            <if test="contractId != null">
                contract_id,
            </if>
            <if test="brandId != null">
                brand_id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createName != null">
                creat_name,
            </if>
            <if test="createTime != null">
                creat_time,
            </if>
            <if test="reviewStatus != null">
                review_status,
            </if>
            <if test="reviewSizeNoticeImage != null">
                img_url,
            </if>
            <if test="prodCataLogId != null">
                prod_catalog_id,
            </if>
            <if test="noticeTime != null">
                notice_time,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="supplierId != null">
                #{supplierId},
            </if>
            <if test="contractId != null">
                #{contractId},
            </if>
            <if test="brandId != null">
                #{brandId},
            </if>
            <if test="orderId != null">
                #{orderId},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="createName != null">
                #{createName},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="reviewStatus != null">
                #{reviewStatus},
            </if>
            <if test="reviewSizeNoticeImage != null">
                #{reviewSizeNoticeImage},
            </if>
            <if test="prodCataLogId != null">
                #{prodCataLogId},
            </if>
            <if test="noticeTime != null">
                #{noticeTime},
            </if>
        </trim>
    </insert>

    <select id="getById" resultMap="BaseResultMap" >
        select * from review_size_notice where id = #{id}
    </select>

    <select id="getByContractId" resultMap="BaseResultMap" parameterType="string">
        select * from review_size_notice
        <where>
            <if test="_parameter != null">
               AND contract_id = #{_parameter}
            </if>
        </where>
    </select>

    <update id="update" parameterType="ReviewSizeNotice">
        update review_size_notice
        <set>
            <if test="supplierId != null">
                supplier_id = #{supplierId},
            </if>
            <if test="uploadUrl != null">
                upload_url = #{uploadUrl},
            </if>
            <if test="contractId != null">
                contract_id = #{contractId},
            </if>
            <if test="brandId != null">
                brand_id = #{brandId},
            </if>
            <if test="orderId != null">
                order_id = #{orderId},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="createName != null">
                create_name = #{createName},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="reviewStatus != null">
                review_status = #{reviewStatus},
            </if>
            <if test="reviewSizeNoticeImage != null">
                img_url = #{reviewSizeNoticeImage},
            </if>
            <if test="prodCataLogId != null">
                prod_catalog_id = #{prodCataLogId},
            </if>
            <if test="noticeTime != null">
                notice_time = #{noticeTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateReviewStatus" >
         update review_size_notice
         <set>
             <if test="reviewStatus != null">
                 review_status = #{reviewStatus},
             </if>
             <if test="noticeTime != null">
                 notice_time = #{noticeTime},
             </if>
         </set>
         where id=#{id}
    </update>

    <select id="getContract" resultMap="BaseResultMap" parameterType="string">
        select * from review_size_notice
        <where>
            <if test="contractId != null">
               AND  contract_id = #{contractId}
            </if>
            <if test="id != null">
               AND id = #{id}
            </if>
        </where>
    </select>

</mapper>