<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.damei.scm.repository.prod.DomainInfoCatalogDao">
    <resultMap id="BaseResultMap" type="DomainInfoCatalog">
        <id column="id" property="id"/>
        <result column="domain_info_id" property="domainInfoId"/>
        <result column="product_category_id" property="catalogId"/>
        <result column="domain_name" property="domainName"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, domain_info_id,product_category_id
    </sql>

    <insert id="insert" parameterType="DomainInfoCatalog" useGeneratedKeys="true" keyProperty="id">
        insert into sm_domain_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="domainInfoId != null">
                domain_info_id,
            </if>
            <if test="catalogId!= null">
                product_category_id
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="domainInfoId != null">
                #{domainInfoId},
            </if>
            <if test="catalogId!= null">
                #{catalogId}
            </if>
        </trim>
    </insert>

    <delete id="deleteById" parameterType="long">
        delete from sm_domain_category where product_category_id = #{id}
    </delete>


    <select id="findDomainInfoByParentId" resultMap="BaseResultMap" parameterType="long">
        select sdc.* from sm_domain_category as sdc
LEFT JOIN sm_domain_info as sdi on sdc.domain_info_id = sdi.id
where product_category_id = #{parentId}
    </select>
</mapper>