<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.damei.scm.repository.prod.ProductImageDao">
    <resultMap id="productImageMap" type="ProductImage">
        <result column="id" property="id"/>
        <result column="product_id" property="productId"/>
        <result column="sku_id" property="skuId"/>
        <result column="img_path" property="imagePath"/>
    </resultMap>

    <sql id="selectInfo">
        id, product_id, sku_id, img_path
    </sql>

    <select id="getById" parameterType="long" resultMap="productImageMap">
        select <include refid="selectInfo"/>
        from prod_product_image
        where id = #{id}
    </select>
    
    <select id="findByProductIdAndSkuId" resultMap="productImageMap">
        select <include refid="selectInfo"/>
        from prod_product_image
        <where>
			<if test="productId!=null">
				product_id = #{productId}
			</if>        	
			<if test="skuId!=null">
				and sku_id = #{skuId}
			</if>
        </where>
        order by id
    </select>
    

    <insert id="insert" parameterType="ProductImage" useGeneratedKeys="true" keyProperty="id">
        insert into prod_product_image (product_id,sku_id,img_path)
        values (#{productId},#{skuId}, #{imagePath});
    </insert>

	<select id="findProductMainImageList" parameterType="long" resultMap="productImageMap">
        select
        <include refid="selectInfo"/>
        from prod_product_image
        where product_id  = #{productId} and sku_id is null 
        order by id 
    </select>
    
    <update id="update" parameterType="ProductImage">
        update prod_product_image
        <set>
            <if test="productId != null">
                product_id = #{productId},
            </if>
            <if test="skuId != null">
                sku_id = #{skuId},
            </if>
            <if test="imagePath != null">
                img_path = #{imagePath},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        delete from prod_product_image
        where id = #{id}
    </delete>
</mapper>