<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="cn.damei.scm.repository.prod.SkuPriceDao">
    
    <resultMap id="skuPriceMap" type="SkuPrice">
        <result column="id" property="id"/>
        <result column="sku_id" property="skuId"/>
        <result column="price_type" property="priceType"/>
        <result column="price" property="price"/>
        <result column="price_start_date" property="priceStartDate"/>
        <result column="price_type" property="priceType"/>
        <result column="price" property="price"/>
        <result column="editor" property="editor.id"/>
        <result column="edit_time" property="editTime"/>
    </resultMap>
	
	
	 <resultMap id="skuPriceWithEditorMap" extends="skuPriceMap"  type="SkuPrice">
        <result column="name" property="editor.name"/>
        <result column="username" property="editor.username"/>
    </resultMap>
	
	

    <sql id="selectInfo">
        id, sku_id, price_type,price,price_start_date
    </sql>

    <select id="getById" parameterType="long" resultMap="skuPriceMap">
        select <include refid="selectInfo"/>
        from prod_sku_price
        where id = #{id}
    </select>
    
    <select id="getByDate" parameterType="SkuPrice" resultMap="skuPriceMap">
        select <include refid="selectInfo"/>
        from prod_sku_price
		<where>
			sku_id = #{skuId}  and price_type = #{priceType} 
			  and price_start_date = #{priceStartDate,jdbcType=DATE}
			<if test="id!=null">
			 and id != #{id}
			</if>
		</where>    	
		limit 1    
    </select>
	
    <insert id="insert" parameterType="SkuPrice" useGeneratedKeys="true" keyProperty="id">
        insert into prod_sku_price (sku_id,price_type,price,price_start_date,editor,edit_time)
        values (#{skuId}, #{priceType},#{price}, #{priceStartDate},#{editor.id},#{editTime})
    </insert>
	
	<select id="findBySkuIdAndType" resultMap="skuPriceWithEditorMap">
        select
        price.*,usr.name,usr.username
        from prod_sku_price price JOIN acct_user usr on (usr.id = price.editor)
        <where>
         sku_id = #{skuId}
         <if test="priceType!=null">
         	and price_type =  #{priceType}
         </if>
        </where>
        order by price_type,price_start_date 
    </select>

    
    <update id="update" parameterType="SkuPrice">
        update prod_sku_price
        <set>
        	<if test="price!=null">
        		price = #{price},
        	</if>
        	<if test="priceStartDate!=null">
        		price_start_date = #{priceStartDate,jdbcType=DATE},
        	</if>
			<if test="editor!=null">
				editor = #{editor.id},
			</if>
			
			<if test="editTime!=null">
				edit_time = #{editTime},
			</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        delete from prod_sku_price
        where id = #{id}
    </delete>
    
     <delete id="deleteBySkuId" parameterType="long">
        delete from prod_sku_price
        where sku_id = #{skuId}
    </delete>

    <insert id="batchInsert" parameterType="list">
        insert into prod_sku_price (
            sku_id,price_type,price,price_start_date,editor,edit_time
        ) VALUES
        <foreach item="item" collection="list"  index="index" separator="," >
        (
            #{item.skuId}, #{item.priceType},#{item.price}, #{item.priceStartDate},#{item.editor.id},#{item.editTime}
        )
        </foreach>
    </insert>
</mapper>