<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.damei.scm.repository.prod.StoreDao">
    <resultMap id="BaseResultMap" type="Store">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, code
    </sql>

    <select id="getById" resultMap="BaseResultMap" parameterType="long">
        select
        <include refid="Base_Column_List"/>
        from store
        where id = #{id}
    </select>
    <!--通过门店编码 查询 门店信息-->
    <select id="getByCode" resultMap="BaseResultMap" parameterType="String">
        select
        <include refid="Base_Column_List"/>
        from store
        where code = #{code}
    </select>
    
    <select id="getByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from store
        where name = #{name}
        <if test="excludeId!=null">
        	and id!=#{excludeId}
        </if>
    </select>
	
    <select id="findAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM store
        ORDER BY  id
    </select>
    
     <select id="findByIdIn"  parameterType="list" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM store
        <foreach collection="list"  index="idx"  item="id" open="where id in (" separator=","  close=")">
        	#{id}
        </foreach>
         ORDER BY  id
    </select>
    

    <delete id="deleteById" parameterType="long">
        delete from store
        where id = #{id}
    </delete>
    
    <insert id="insert" parameterType="RegionSupplier" useGeneratedKeys="true" keyProperty="id">
        insert into store
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name},
            </if>
        </trim>
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into store(name,code) values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.name},#{item.code})
        </foreach>
    </insert>
    
    <update id="update" parameterType="RegionSupplier">
        update store set name = #{name}
        where id = #{id}
    </update>

    <select id="searchTotal" parameterType="map" resultType="long">
        SELECT COUNT(*)
        <include refid="searchFromWhere"/>
    </select>

    <select id="search" parameterType="map" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        <include refid="searchFromWhere"/>
        <if test="sort != null">
            ORDER BY
            <foreach collection="sort" item="order" separator=",">
                ${order.property} ${order.direction}
            </foreach>
        </if>
        limit #{offset},#{pageSize}
    </select>

    <sql id="searchFromWhere">
        from store 
        <where>
        <if test="keyword != null">
           name LIKE concat('%',#{keyword},'%')
        </if>
        <if test="storeCode != null">
           AND id = #{storeCode}
        </if>
        </where>
    </sql>

</mapper>