<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.damei.scm.repository.account.PermissionDao">
    <resultMap id="BaseResultMap" type="Permission">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="module" property="module"/>
        <result column="seq" property="seq"/>
        <result column="permission" property="permission"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        id, name, module, seq, permission
    </sql>
    
    <select id="getById" resultMap="BaseResultMap" parameterType="long">
        select
        <include refid="Base_Column_List"/>
        from acct_permission
        where id = #{id}
    </select>
    
    <delete id="deleteById" parameterType="long">
        delete from acct_permission
        where id = #{id}
    </delete>
    
    <insert id="insert" parameterType="Permission" useGeneratedKeys="true" keyProperty="id">
        insert into acct_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="module != null">
                module,
            </if>
            <if test="seq != null">
                seq,
            </if>
            <if test="permission != null">
                permission,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name},
            </if>
            <if test="module != null">
                #{module},
            </if>
            <if test="seq != null">
                #{seq},
            </if>
            <if test="permission != null">
                #{permission},
            </if>
        </trim>
    </insert>
    
    <update id="update" parameterType="Permission">
        update acct_permission
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="module != null">
                module = #{module},
            </if>
            <if test="seq != null">
                seq = #{seq},
            </if>
            <if test="permission != null">
                permission = #{permission},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>