<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.damei.scm.repository.account.RolePermissionDao">
    
    <insert id="insert" parameterType="RolePermission">
        insert into acct_role_permission (role_id, permission_id) values (#{roleId}, #{permissionId})
    </insert>

    <insert id="insertList">
        insert into acct_role_permission (role_id, permission_id)
        values
        <foreach collection="permIdList" index="idx" item="permissionId" separator=",">
            (${roleId}, ${permissionId})
        </foreach>
    </insert>

    <delete id="deleteByRoleId" parameterType="long">
        delete from acct_role_permission where role_id = #{roleId}
    </delete>

    <select id="findAllPermissionWithCheckedByRoleId" parameterType="long" resultType="Permission">
        SELECT
        p.*,
        CASE
        WHEN rp.role_id IS NOT NULL THEN
        'true'
        ELSE
        'false'
        END AS checked
        FROM
        acct_permission p
        LEFT JOIN acct_role_permission rp ON (p.id = rp.permission_id AND rp.role_id = #{roleId})
        where p.module!='embed'
        order by seq, p.id
    </select>

    <select id="findOwnPermissionsByRoleId" parameterType="long" resultType="Permission">
        SELECT p.* from acct_permission p join acct_role_permission rp on (p.id = rp.permission_id)
        where rp.role_id = #{roleId}
    </select>

</mapper>