<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mdni.scm.repository.dict.DictReasonDao">
    
    <resultMap id="resultMap" type="DictReason">
        <id column="id" property="id"/>
        <result column="reason" property="reason"/>
    </resultMap>
    
    <sql id="selectAllColumn">
    	id,reason
    </sql>
    
    <select id="getById" parameterType="long" resultMap="resultMap">
        select <include refid="selectAllColumn" />
        from dict_reason
        where id = #{id}
    </select>
    
    <insert id="insert" parameterType="DictReason" useGeneratedKeys="true" keyProperty="id">
        insert dict_reason(reason) values 
        (#{reason})
    </insert>
    
    <insert id="deleteById" parameterType="long">
        delete from dict_reason where id = #{id}
    </insert>
    
    <update id="update" parameterType="DictReason">
        update dict_reason 
        <set>
        	<if test="reason!=null">
        		reason = #{reason},
        	</if>
        </set>
         where id = #{id}
    </update>

    <select id="findAll" resultMap="resultMap">
        select  <include refid="selectAllColumn" /> from dict_reason
    </select>

    <select id="searchTotal" parameterType="map" resultType="long">
        select count(*)
        <include refid="searchFromWhere"/>
    </select>


    <select id="search" parameterType="map" resultMap="resultMap">
        select <include refid="selectAllColumn" />
        <include refid="searchFromWhere"/>
        <if test="sort != null">
            order by
            <foreach collection="sort" item="order" separator=",">
                ${order.property} ${order.direction}
            </foreach>
        </if>
        limit #{offset}, #{pageSize}
    </select>

    <sql id="searchFromWhere">
        from dict_reason
        <where>
            <if test="keyword != null">
                 reason like CONCAT('%', #{keyword}, '%') 
            </if>
        </where>
    </sql>

</mapper>