<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.damei.scm.repository.operateLog.OperateLogDao">
    <resultMap id="BaseResultMap" type="OperateLog">
        <id column="id" property="id"/>
        <result column="operator" property="operator"/>
        <result column="operator_time" property="operatorTime"/>
        <result column="operator_explain" property="operatorExplain"/>
        <result column="order_id" property="orderId"/>
        <result column="contract_code" property="contractCode"/>
    </resultMap>

    <select id="searchTotal" parameterType="map" resultType="long">
        select count(*) from operator_log cl
        <where>
            <if test="keyword != null and keyword != ''">
                cl.contract_code = #{keyword} or cl.order_id = #{keyword}
            </if>
        </where>
    </select>

   <select id="search" resultMap="BaseResultMap" parameterType="map">
       select * from operator_log cl
       <where>
           <if test="keyword != null and keyword != ''">
               cl.contract_code = #{keyword} or cl.order_id = #{keyword}
           </if>
       </where>
       <if test="sort != null">
           order by
           <foreach collection="sort" item="order" separator=",">
               ${order.property} ${order.direction}
           </foreach>
       </if>

       limit #{offset}, #{pageSize}
   </select>

    <insert id="insert" parameterType="OperateLog" keyProperty="id">
        INSERT INTO operator_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="operator != null">
                operator,
            </if>
            <if test="operatorTime != null">
                operator_time,
            </if>
            <if test="operatorExplain != null">
                operator_explain,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="contractCode != null">
                contract_code,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="operator != null">
                #{operator},
            </if>
            <if test="operatorTime != null">
                #{operatorTime},
            </if>
            <if test="operatorExplain != null">
                #{operatorExplain},
            </if>
            <if test="orderId != null">
                #{orderId},
            </if>
            <if test="contractCode != null">
                #{contractCode},
            </if>

        </trim>
    </insert>
</mapper>