<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.damei.scm.repository.supplierRejectRecord.SupplierRejectRecordDao">
    <resultMap id="BaseResultMap" type="SupplierRejectRecord">
        <id column="id" property="id"/>
        <result column="source_id" property="sourceId"/>
        <result column="source_type" property="sourceType"/>
        <result column="reject_reason" property="rejectReason"/>
        <result column="reject_type" property="rejectType"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
    </resultMap>


    <select id="searchTotal" parameterType="map" resultType="long">
       SELECT count(*)
        from supplier_reject_record
    </select>

    <select id="search" resultMap="BaseResultMap" parameterType="map">
        SELECT *
        from supplier_reject_record
        <if test="sort != null">
            ORDER BY
            <foreach collection="sort" item="order" separator=",">
                ${order.property} ${order.direction}
            </foreach>
        </if>
        limit #{offset},#{pageSize}
   </select>

    <insert id="insert" parameterType="OperateLog" keyProperty="id">
        INSERT INTO supplier_reject_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sourceId != null">
                source_id,
            </if>
            <if test="sourceType != null">
                source_type,
            </if>
            <if test="rejectReason != null">
                reject_reason,
            </if>
            <if test="rejectType != null">
                reject_type,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createTime != null">
                create_time,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sourceId != null">
                #{sourceId},
            </if>
            <if test="sourceType != null">
                #{sourceType},
            </if>
            <if test="rejectReason != null">
                #{rejectReason},
            </if>
            <if test="rejectType != null">
                #{rejectType},
            </if>
            <if test="creator != null">
                #{creator},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <select id="getBySourceId" resultType="long" parameterType="long">
        select source_id from supplier_reject_record where source_id=#{id}
    </select>
    <select id="getById" resultMap="BaseResultMap"  parameterType="long">
    </select>

    <update id="update" parameterType="ReviewSizeResult">
        update supplier_reject_record
        <set>
            <if test="sourceId != null">
                source_id=#{sourceId},
            </if>
            <if test="sourceType != null">
                source_type=#{sourceType},
            </if>
            <if test="rejectReason != null">
                reject_reason=#{rejectReason},
            </if>
            <if test="rejectType != null">
                reject_type=#{rejectType},
            </if>
            <if test="creator != null">
                creator=#{creator},
            </if>
            <if test="createTime != null">
                create_time=#{createTime},
            </if>
        </set>
        where source_id = #{sourceId}
    </update>

    <select id="getRejectReason" resultType="string" parameterType="integer">
        select reject_reason from supplier_reject_record where source_id = #{id} ORDER BY create_time DESC

    </select>

    <select id="getRejectReasonBySourceId" resultMap="BaseResultMap">
        select srr.*,sd.dic_name AS indentOrderRejectType from supplier_reject_record srr
        LEFT JOIN system_dictionary sd  on srr.reject_type = sd.id
        <where>
            <if test="sourceType != null">
                srr.source_type=#{sourceType}
            </if>
        </where>
        AND srr.source_id = #{id}
        ORDER BY srr.create_time DESC
    </select>
</mapper>