<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd">

    <!-- 自动扫描且只扫描@Controller --> <!-- 自动扫描指定的包中的类上的注解 -->
    <context:component-scan base-package="com.mdni.scm.web,com.mdni.scm" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>

    <mvc:annotation-driven content-negotiation-manager="contentNegotiationManager">
        <mvc:message-converters register-defaults="true">
            <!-- 将StringHttpMessageConverter的默认编码设为UTF-8 -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"/>
            </bean>
            <!-- 1.配置Spring MVC JSON序列化跳过null值 2.日期序列化为毫秒数 3.JSON缩进 -->
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
                        <property name="indentOutput" value="true"/>
                        <property name="objectMapper">
                            <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
                                <property name="targetObject" ref="myObjectMapper"/>
                                <property name="targetMethod" value="enable"/>
                                <property name="arguments" value="WRITE_DATES_AS_TIMESTAMPS"/>
                            </bean>
                        </property>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>


    </mvc:annotation-driven>

    <task:annotation-driven/>

    <!-- 开启Shiro Spring AOP 权限注解的支持 -->
    <aop:config proxy-target-class="true"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver"/>
    <mvc:interceptors>
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
            <property name="paramName" value="lang"/>
        </bean>
    </mvc:interceptors>

    <!-- 定义JSP文件的位置 --><!-- 视图解释类 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    </bean>

    <!-- REST中根据URL后缀自动判定Content-Type及相应的View -->
    <bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="mediaTypes">
            <value>
                json=application/json
            </value>
        </property>
    </bean>


    <!-- 容器默认的DefaultServletHandler处理 所有静态内容与无RequestMapping处理的URL-->
    <!-- 对静态资源类型的访问 -->
    <mvc:default-servlet-handler/>

    <mvc:view-controller path="/error/*"/>
    <mvc:view-controller path="/login"/>

    <!--PC后台-->
    <mvc:view-controller path="/admin/logout"/>
    <mvc:view-controller path="/admin" view-name="admin/index"/>
    <mvc:view-controller path="/admin/" view-name="admin/index"/>
    <mvc:view-controller path="/admin/index" view-name="admin/index"/>
    
    <mvc:view-controller path="/admin/role" view-name="admin/account/role/list"/>
    <mvc:view-controller path="/admin/user" view-name="admin/account/user/list"/>
    <mvc:view-controller path="/admin/changePassword" view-name="admin/account/user/changePwd"/>
    
    <mvc:view-controller path="/admin/customer" view-name="admin/customer/list"/>
    <mvc:view-controller path="/admin/contract" view-name="admin/contract/list"/>
    <mvc:view-controller path="/admin/contract/createOrder" view-name="admin/contract/createOrder"/>
    <mvc:view-controller path="/admin/contract/createReviewSize" view-name="admin/contract/createReviewSize"/>
    <mvc:view-controller path="/admin/contract/editReviewSize" view-name="admin/contract/editReviewSize"/>

	<mvc:view-controller path="/admin/dict/*"/>
	 
    <mvc:view-controller path="/admin/catalog" view-name="admin/prod/catalog/list"/>
    <mvc:view-controller path="/admin/brand" view-name="admin/prod/brand/list"/>
    <!-- 商品列表 -->
    <mvc:view-controller path="/admin/product" view-name="admin/prod/product/list"/>
    <mvc:view-controller path="/admin/product/batchimport" view-name="admin/prod/product/batchimport"/>
    <mvc:view-controller path="/admin/product/prodcheck" view-name="admin/prod/product/prodcheck"/>
     <mvc:view-controller path="/admin/sku" view-name="admin/prod/product/sku_list"/>
     <mvc:view-controller path="/admin/skuApprove" view-name="admin/prod/product/sku_approve"/>
     <mvc:view-controller path="/admin/skuApproveResult" view-name="admin/prod/product/skuapproveresult"/>
     <mvc:view-controller path="/admin/stayPrice" view-name="admin/prod/product/stayprice"/>

    <mvc:view-controller path="/admin/product/edit" view-name="admin/prod/product/edit"/>

    <mvc:view-controller path="/ueditor/config" view-name="admin/ueditor/config"/>

	<mvc:view-controller path="/admin/product/supplier/list" view-name="admin/prod/supplier/list"/>
	<mvc:view-controller path="/admin/product/supplier/region-supplier-list" view-name="admin/prod/supplier/region-supplier-list"/>
	<mvc:view-controller path="/admin/product/store/list" view-name="admin/prod/store/list"/>

    <!-- 预备单 -->
    <mvc:view-controller path="/admin/prepareorder/list" view-name="admin/prepareorder/list"/>
    <mvc:view-controller path="/admin/prepareorder/editOrder" view-name="admin/prepareorder/editOrder"/>
	<!-- 订货单 -->
	<mvc:view-controller path="/admin/indentOrder/list" view-name="admin/indentOrder/list"/>
    <!-- 对账 -->
    <mvc:view-controller path="/admin/indentOrder/reconciliationList" view-name="admin/indentOrder/reconciliationList"/>
    <mvc:view-controller path="/admin/materialSupplierAccountChecking" view-name="admin/indentOrder/materialSupplierAccountChecking"/>
    <mvc:view-controller path="/admin/isAccountChecking" view-name="admin/indentOrder/alreadyMaterialSupplierAccountChecking"/>
    <mvc:view-controller path="/admin/operatorLog" view-name="admin/indentOrder/operatorLog"/>
    <mvc:view-controller path="/admin/indentOrder/reviewSize" view-name="admin/indentOrder/reviewSize"/>


    <mvc:view-controller path="/admin/test" view-name="admin/test"/>
    <mvc:view-controller path="/admin/test2" view-name="admin/test2"/>
    <mvc:view-controller path="/admin/review" view-name="admin/indentOrder/reviewlist"/>

    <!--16数据整理-->
    <mvc:view-controller path="/admin/baseinstall" view-name="admin/baseinstall/list" />
    <mvc:view-controller path="/admin/basedata" view-name="admin/baseinstall/basedata" />

    <!--数据字典 -->
    <mvc:view-controller path="/admin/dictionary/list" view-name="admin/dictionary/list" />
</beans>
