<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.damei.scm.repository.dataArrangement.MaterialStandardConfigDao">
  <resultMap id="BaseResultMap" type="cn.damei.scm.entity.dataArrangement.MaterialStandardConfig">
    <id column="id"  property="id" />
    <result column="contract_id"  property="contractId" />
    <result column="standard_project_name"  property="standardProjectName" />
    <result column="location"  property="location" />
    <result column="brand_meal"  property="brandMeal" />
    <result column="model"  property="model" />
    <result column="spec"  property="spec" />
    <result column="unit"  property="unit" />
    <result column="quantity"  property="quantity" />
    <result column="wastage_quantity"  property="wastageQuantity" />
    <result column="actual_quantity"  property="actualQuantity" />
    <result column="remark"  property="remark" />
    <result column="create_account"  property="createAccount" />
    <result column="create_date"  property="createDate" />
    <result column="del_account"  property="delAccount" />
    <result column="del_date"  property="delDate" />
    <result column="del_status"  property="delStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, contract_id, standard_project_name, location, brand_meal, model, spec, unit, 
    quantity, wastage_quantity, actual_quantity, remark, create_account, create_date,
    del_account,del_date,del_status
  </sql>
  <select id="getById"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from material_standard_config
    where id = #{id}
  </select>
  <select id="findByContractId"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from material_standard_config
    where contract_id = #{contractId} and del_status != 1
    ORDER BY id DESC
  </select>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into material_standard_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contractId != null">
        contract_id,
      </if>
      <if test="standardProjectName != null">
        standard_project_name,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="brandMeal != null">
        brand_meal,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="spec != null">
        spec,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="wastageQuantity != null">
        wastage_quantity,
      </if>
      <if test="actualQuantity != null">
        actual_quantity,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createAccount != null">
        create_account,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="delAccount != null">
        del_account,
      </if>
      <if test="delDate != null">
        del_date,
      </if>
      <if test="delStatus != null">
        del_status
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contractId != null">
        #{contractId},
      </if>
      <if test="standardProjectName != null">
        #{standardProjectName},
      </if>
      <if test="location != null">
        #{location},
      </if>
      <if test="brandMeal != null">
        #{brandMeal},
      </if>
      <if test="model != null">
        #{model},
      </if>
      <if test="spec != null">
        #{spec},
      </if>
      <if test="unit != null">
        #{unit},
      </if>
      <if test="quantity != null">
        #{quantity},
      </if>
      <if test="wastageQuantity != null">
        #{wastageQuantity},
      </if>
      <if test="actualQuantity != null">
        #{actualQuantity},
      </if>
      <if test="remark != null">
        #{remark},
      </if>
      <if test="createAccount != null">
        #{createAccount},
      </if>
      <if test="createDate != null">
        #{createDate},
      </if>
      <if test="delAccount != null">
        #{delAccount},
      </if>
      <if test="delDate != null">
        #{delDate},
      </if>
      <if test="delStatus != null">
        #{delStatus}
      </if>

    </trim>
  </insert>
  <update id="update" >
    update material_standard_config set contract_id = #{contractId},standard_project_name = #{standardProjectName},
    location = #{location}, brand_meal = #{brandMeal},model = #{model},spec = #{spec},unit = #{unit}, quantity = #{quantity},
    wastage_quantity = #{wastageQuantity}, actual_quantity = #{actualQuantity},remark = #{remark},create_account = #{createAccount},
    create_date = #{createDate},del_account=#{delAccount} where id = #{id}
  </update>

  <update id="delete" parameterType="map">
    update material_standard_config
    <set>
      <if test="delAccount != null">
        del_account = #{delAccount},
      </if>
      <if test="delDate != null">
        del_date = #{delDate},
      </if>
      <if test="delStatus != null">
        del_status = #{delStatus},
      </if>
    </set>
    where id = #{id}
  </update>
</mapper>