<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.damei.scm.repository.dataArrangement.MaterialChangeDetailDao">
  <resultMap id="BaseResultMap" type="cn.damei.scm.entity.dataArrangement.MaterialChangeDetail">
    <id column="id"  property="id" />
    <result column="material_type"  property="materialType" />
    <result column="project_name"  property="projectName" />
    <result column="location"  property="location" />
    <result column="brand"  property="brand" />
    <result column="amount"  property="amount" />
    <result column="unit"  property="unit" />
    <result column="specification"  property="specification" />
    <result column="model"  property="model" />
    <result column="price"  property="price" />
    <result column="total"  property="total" />
    <result column="description"  property="description" />
    <result column="change_type"  property="changeType" />
    <result column="change_id"  property="changeId" />
    <result column="create_date"  property="createDate" />
    <result column="create_account"  property="createAccount" />
    <result column="wastage_cost" property="wastageCost" />
    <result column="material_cost" property="materialCost" />
    <result column="labor_cost" property="laborCost" />
    <result column="hole_high" property="holeHigh" />
    <result column="hole_wide" property="holeWide" />
    <result column="hole_thuck" property="holeThuck" />
    <result column="add_stack" property="addStack" />
    <result column="del_account" property="delAccount" />
    <result column="del_date" property="delDate" />
    <result column="del_status" property="delStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, material_type, project_name, location, brand, amount, unit, specification, model, 
    price, total, description, change_type, change_id, create_date, create_account,wastage_cost,material_cost,labor_cost
,hole_high,hole_wide,hole_thuck,add_stack
  </sql>
  <select id="getById"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from material_change_detail
    where id = #{id}
  </select>
  <delete id="deleteById" >
    delete from material_change_detail
    where id = #{id}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
    insert into material_change_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="materialType != null">
        material_type,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="specification != null">
        specification,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="changeType != null">
        change_type,
      </if>
      <if test="changeId != null">
        change_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createAccount != null">
        create_account,
      </if>
      <if test="wastageCost != null">
        wastage_cost,
      </if>
      <if test="materialCost != null">
        material_cost,
      </if>
      <if test="laborCost != null">
        labor_cost,
      </if>
      <if test="holeHigh != null">
        hole_high,
      </if>
      <if test="holeWide != null">
        hole_wide,
      </if>
      <if test="holeThuck != null">
        hole_thuck,
      </if>
      <if test="addStack != null">
        add_stack,
      </if>
      <if test="delAccount != null">
        del_account,
      </if>
      <if test="delDate != null">
        del_date,
      </if>
      <if test="delStatus != null">
        del_status
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="materialType != null">
        #{materialType},
      </if>
      <if test="projectName != null">
        #{projectName},
      </if>
      <if test="location != null">
        #{location},
      </if>
      <if test="brand != null">
        #{brand},
      </if>
      <if test="amount != null">
        #{amount},
      </if>
      <if test="unit != null">
        #{unit},
      </if>
      <if test="specification != null">
        #{specification},
      </if>
      <if test="model != null">
        #{model},
      </if>
      <if test="price != null">
        #{price},
      </if>
      <if test="total != null">
        #{total},
      </if>
      <if test="description != null">
        #{description},
      </if>
      <if test="changeType != null">
        #{changeType},
      </if>
      <if test="changeId != null">
        #{changeId},
      </if>
      <if test="createDate != null">
        #{createDate},
      </if>
      <if test="createAccount != null">
        #{createAccount},
      </if>
      <if test="wastageCost != null">
        #{wastageCost},
      </if>
      <if test="materialCost != null">
        #{materialCost},
      </if>
      <if test="laborCost != null">
        #{laborCost},
      </if>
      <if test="holeHigh != null">
        #{holeHigh},
      </if>
      <if test="holeWide != null">
        #{holeWide},
      </if>
      <if test="holeThuck != null">
        #{holeThuck},
      </if>
      <if test="addStack != null">
        #{addStack},
      </if>
      <if test="delAccount != null">
        #{delAccount},
      </if>
      <if test="delDate != null">
        #{delDate},
      </if>
      <if test="delStatus != null">
        #{delStatus}
      </if>
    </trim>
  </insert>
  <update id="update" >
    update material_change_detail set material_type = #{materialType},project_name = #{projectName}, location = #{location},
    brand = #{brand},amount = #{amount},unit = #{unit},specification = #{specification},model = #{model},
    price = #{price}, total = #{total}, description = #{description}, change_type = #{changeType}, change_id = #{changeId},
    create_date = #{createDate}, create_account = #{createAccount},wastage_cost=#{wastageCost},
    material_cost=#{materialCost},labor_cost=#{laborCost},hole_high=#{holeHigh},hole_wide=#{holeWide},
    hole_thuck=#{holeThuck},add_stack=#{addStack} where id = #{id}

  </update>
  <select id="findByChangeId"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from material_change_detail
    where change_id= #{changeId} and del_status != 1
    ORDER BY id DESC
  </select>

  <update id="delete" parameterType="map">
    update material_change_detail
    <set>
      <if test="delAccount != null">
        del_account = #{delAccount},
      </if>
      <if test="delDate != null">
        del_date = #{delDate},
      </if>
      <if test="delStatus != null">
        del_status = #{delStatus},
      </if>
    </set>
    where id = #{id}
  </update>
</mapper>