<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.damei.scm.repository.dataArrangement.MaterialCustomerContractDao">
  <resultMap id="BaseResultMap" type="com.damei.scm.entity.dataArrangement.MaterialCustomerContract">
    <id column="id" property="id" />
    <result column="budget_no" property="budgetNo" />
    <result column="project_code" property="projectCode" />
    <result column="customer_name" property="customerName" />
    <result column="customer_phone" property="customerPhone" />
    <result column="project_address" property="projectAddress" />
    <result column="budget_area" property="budgetArea" />
    <result column="house_layout" property="houseLayout" />
    <result column="designer_name" property="designerName" />
    <result column="designer_phone" property="designerPhone" />
    <result column="customer_service" property="customerService" />
    <result column="customer_service_phone" property="customerServicePhone" />
    <result column="manager_name" property="managerName" />
    <result column="manager_phone" property="managerPhone" />
    <result column="inspector_name" property="inspectorName" />
    <result column="inspector_phone" property="inspectorPhone" />
    <result column="contract_sign_date" property="contractSignDate" />
    <result column="plan_start_date" property="planStartDate" />
    <result column="plan_finish_date" property="planFinishDate" />
    <result column="engineering_cost" property="engineeringCost" />
    <result column="dismantle_fee" property="dismantleFee" />
    <result column="change_fee" property="changeFee" />
    <result column="have_elevator" property="haveElevator" />
    <result column="remarks" property="remarks" />
    <result column="create_time" property="createTime" />
    <result column="create_account" property="createAccount" />
    <result column="status" property="contractStatus" />
    <result column="meal" property="meal" />
    <result column="budget_fee" property="budgetFee" />
    <result column="keyboarder" property="keyboarder" />
    <result column="input_time" property="inputTime" />
    <result column="verifier" property="verifier" />
    <result column="review_time" property="reviewTime" />
    <result column="complete_date" property="completeDate" />
  </resultMap>

  <sql id="Base_Column_List">
    id, budget_no, project_code, customer_name, customer_phone, project_address,
    budget_area, house_layout, designer_name, designer_phone, customer_service, customer_service_phone,
    manager_name, manager_phone, Inspector_name, Inspector_phone, contract_sign_date,
    plan_start_date, plan_finish_date, engineering_cost, dismantle_fee, change_fee, have_elevator,
    remarks, create_time, create_account,status,meal,budget_fee,keyboarder,input_time,verifier,review_time,complete_date
  </sql>

  <delete id="deleteById">
    delete from material_customer_contract
    where id = #{id}
  </delete>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into material_customer_contract
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="budgetNo != null">
        budget_no,
      </if>
      <if test="projectCode != null">
        project_code,
      </if>
      <if test="customerName != null">
        customer_name,
      </if>
      <if test="customerPhone != null">
        customer_phone,
      </if>
      <if test="projectAddress != null">
        project_address,
      </if>
      <if test="budgetArea != null">
        budget_area,
      </if>
      <if test="meal != null">
        meal,
      </if>
      <if test="budgetFee != null">
        budget_fee,
      </if>
      <if test="houseLayout != null">
        house_layout,
      </if>
      <if test="designerName != null">
        designer_name,
      </if>
      <if test="designerPhone != null">
        designer_phone,
      </if>
      <if test="customerService != null">
        customer_service,
      </if>
      <if test="customerServicePhone != null">
        customer_service_phone,
      </if>
      <if test="managerName != null">
        manager_name,
      </if>
      <if test="managerPhone != null">
        manager_phone,
      </if>
      <if test="inspectorName != null">
        inspector_name,
      </if>
      <if test="inspectorPhone != null">
        inspector_phone,
      </if>
      <if test="contractSignDate != null">
        contract_sign_date,
      </if>
      <if test="planStartDate != null">
        plan_start_date,
      </if>
      <if test="planFinishDate != null">
        plan_finish_date,
      </if>
      <if test="engineeringCost != null">
        engineering_cost,
      </if>
      <if test="dismantleFee != null">
        dismantle_fee,
      </if>
      <if test="changeFee != null">
        change_fee,
      </if>
      <if test="haveElevator != null">
        have_elevator,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createAccount != null">
        create_account,
      </if>
      <if test="contractStatus != null">
        status
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="budgetNo != null">
        #{budgetNo},
      </if>
      <if test="projectCode != null">
        #{projectCode},
      </if>
      <if test="customerName != null">
        #{customerName},
      </if>
      <if test="customerPhone != null">
        #{customerPhone},
      </if>
      <if test="projectAddress != null">
        #{projectAddress},
      </if>
      <if test="budgetArea != null">
        #{budgetArea},
      </if>
      <if test="meal != null">
        #{meal},
      </if>
      <if test="budgetFee != null">
        #{budgetFee},
      </if>
      <if test="houseLayout != null">
        #{houseLayout},
      </if>
      <if test="designerName != null">
        #{designerName},
      </if>
      <if test="designerPhone != null">
        #{designerPhone},
      </if>
      <if test="customerService != null">
        #{customerService},
      </if>
      <if test="customerServicePhone != null">
        #{customerServicePhone},
      </if>
      <if test="managerName != null">
        #{managerName},
      </if>
      <if test="managerPhone != null">
        #{managerPhone},
      </if>
      <if test="inspectorName != null">
        #{inspectorName},
      </if>
      <if test="inspectorPhone != null">
        #{inspectorPhone},
      </if>
      <if test="contractSignDate != null">
        #{contractSignDate},
      </if>
      <if test="planStartDate != null">
        #{planStartDate},
      </if>
      <if test="planFinishDate != null">
        #{planFinishDate},
      </if>
      <if test="engineeringCost != null">
        #{engineeringCost},
      </if>
      <if test="dismantleFee != null">
        #{dismantleFee},
      </if>
      <if test="changeFee != null">
        #{changeFee},
      </if>
      <if test="haveElevator != null">
        #{haveElevator},
      </if>
      <if test="remarks != null">
        #{remarks},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="createAccount != null">
        #{createAccount},
      </if>
      <if test="contractStatus != null">
        #{contractStatus}
      </if>
    </trim>
  </insert>

  <update id="update">
    update material_customer_contract
    <set>
      <if test="budgetNo != null">
        budget_no = #{budgetNo},
      </if>
      <if test="projectCode != null">
        project_code = #{projectCode},
      </if>
      <if test="customerName != null">
        customer_name = #{customerName},
      </if>
      <if test="customerPhone != null">
        customer_phone = #{customerPhone},
      </if>
      <if test="projectAddress != null">
        project_address = #{projectAddress},
      </if>
      <if test="budgetArea != null">
        budget_area = #{budgetArea},
      </if>
      <if test="meal != null">
        meal = #{meal},
      </if>
      <if test="budgetFee != null">
        budget_fee = #{budgetFee},
      </if>
      <if test="houseLayout != null">
        house_layout = #{houseLayout},
      </if>
      <if test="designerName != null">
        designer_name = #{designerName},
      </if>
      <if test="designerPhone != null">
        designer_phone = #{designerPhone},
      </if>
      <if test="customerService != null">
        customer_service = #{customerService},
      </if>
      <if test="customerServicePhone != null">
        customer_service_phone = #{customerServicePhone},
      </if>
      <if test="managerName != null">
        manager_name = #{managerName},
      </if>
      <if test="managerPhone != null">
        manager_phone = #{managerPhone},
      </if>
      <if test="inspectorName != null">
        inspector_name = #{inspectorNameR},
      </if>
      <if test="inspectorPhone != null">
        inspector_phone = #{inspectorPhone},
      </if>
      <if test="contractSignDate != null">
        contract_sign_date = #{contractSignDate},
      </if>
      <if test="planStartDate != null">
        plan_start_date = #{planStartDate},
      </if>
      <if test="planFinishDate != null">
        plan_finish_date = #{planFinishDate},
      </if>
      <if test="engineeringCost != null">
        engineering_cost = #{engineeringCost},
      </if>
      <if test="dismantleFee != null">
        dismantle_fee = #{dismantleFee},
      </if>
      <if test="changeFee != null">
        change_fee = #{changeFee},
      </if>
      <if test="haveElevator != null">
        have_elevator = #{haveElevator},
      </if>
      <if test="remarks != null">
        remarks = #{remarks},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="createAccount != null">
        create_account = #{createAccount},
      </if>
      <if test="contractStatus != null">
        status = #{contractStatus},
      </if>
      <if test="keyboarder != null">
        keyboarder = #{keyboarder},
      </if>
      <if test="inputTime != null">
        input_time = #{inputTime},
      </if>
      <if test="verifier != null">
        verifier = #{verifier},
      </if>
      <if test="reviewTime != null">
        review_time = #{reviewTime},
      </if>
      <if test="completeDate != null">
        complete_date = #{completeDate},
      </if>
    </set>
    where id = #{id}
  </update>

  <update id="updateStatus">
    update material_customer_contract
    <set>
      <if test="contractStatus != null">
        status = #{contractStatus},
      </if>
      <if test="keyboarder != null">
        keyboarder = #{keyboarder},
      </if>
      <if test="inputTime != null">
        input_time = #{inputTime}
      </if>
    </set>
    where id = #{id}
  </update>

  <select id="getById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from material_customer_contract
    where id = #{id}
  </select>

  <select id="searchTotal" resultType="long">
      SELECT count(*)
    <include refid="searchFromWhere"/>
  </select>

  <select id="search" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    <include refid="searchFromWhere"/>
    ORDER BY id DESC
    limit #{offset}, #{pageSize}
  </select>

  <sql id="searchFromWhere">
    from material_customer_contract
    <where>
      <if test="customerName != null and customerName != ''">
        customer_name like CONCAT('%', #{customerName}, '%')
      </if>
      <if test="customerPhone != null and customerPhone != ''">
        AND customer_phone = #{customerPhone}
      </if>
      <if test="contractStatus != null and contractStatus != ''">
        AND status = #{contractStatus}
      </if>
      <if test="budgetNo != null and budgetNo != ''">
        AND budget_no = #{budgetNo}
      </if>
    </where>
  </sql>
</mapper>