<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mdni.scm.repository.dataArrangement.MaterialChangeDao">
  <resultMap id="BaseResultMap" type="com.mdni.scm.entity.dataArrangement.MaterialChange">
    <id column="id" property="id" />
    <result column="contract_id" property="contractId" />
    <result column="change_date" property="changeDate" />
    <result column="change_order_number" property="changeOrderNumber" />
    <result column="describation" property="describation" />
    <result column="create_account" property="createAccount" />
    <result column="create_date" property="createDate" />
    <result column="del_account" property="delAccount" />
    <result column="del_date" property="delDate" />
    <result column="del_status" property="delStatus" />
  </resultMap>

  <sql id="Base_Column_List">
    id, contract_id,change_date, change_order_number, describation, create_account, create_date
  </sql>
  <delete id="deleteById" >
    delete from material_change
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.mdni.scm.entity.dataArrangement.MaterialChange" useGeneratedKeys="true" keyProperty="id">
    insert into material_change (id,contract_id, change_date, change_order_number, 
      describation, create_account, create_date,del_account,del_date,del_status
      )
    values (#{id},#{contractId}, #{changeDate}, #{changeOrderNumber}, 
      #{describation}, #{createAccount}, #{createDate},#{delAccount},#{delDate},#{delStatus}
      )
  </insert>
  <update id="update" parameterType="com.mdni.scm.entity.dataArrangement.MaterialChange">
    update material_change set  contract_id = #{contractId}, change_date = #{changeDate}, change_order_number = #{changeOrderNumber},
    describation = #{describation}  where id = #{id}

  </update>
  <select id="getById" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from material_change
    where id = #{id}
  </select>
  <select id="findByContractId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from material_change
    where contract_id = #{contractId} and del_status != 1
    ORDER BY id DESC
  </select>

  <update id="delete" parameterType="map">
    update material_change
    <set>
      <if test="delAccount != null">
        del_account = #{delAccount},
      </if>
      <if test="delDate != null">
        del_date = #{delDate},
      </if>
      <if test="delStatus != null">
        del_status = #{delStatus},
      </if>
    </set>
    where id = #{id}
  </update>
</mapper>