// 开关设置
//----------------------------------------------------- 
$lte7:                  true !default; //是否兼容ie6-7

// Color
$color-primary: #363636;
$color-title: #363636;
$color-subtitle: #b4b4b4;
$color-content:#414141;
// Bg
$bg-primary: #363636;

//宽
$page-w: 1000px;


